<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    
                <form action="../controller/loginCheck.php" method="post">
                    <fieldset style="width:10%; margin:  0px auto;"  >
                        
                        <legend align= "left"><b>LOGIN</b></legend>
                        
                        User Id&nbsp;:&nbsp;<input type="text" name="id" ><br><br>
                        
                        
                        Password&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="password" name="password" >
                        <hr>
                        <input type="submit" name="submit" value="Submit">
                        <a  href="registration.html">Register</a>
                    </fieldset>
                </form>
                
                   
    
</body>
</html>