<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    
    
                    <fieldset style="width:10%; margin:  0px auto;"  >
                        
                        <legend align= "left"><b>LOGIN</b></legend>
                        
                        User Name&nbsp;:&nbsp;<input type="text" name="username" placeholder=" Enter User Name"><br><br>
                        
                        
                        Password&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="password" name="password" placeholder=" Enter Password">
                        <hr>
                        <input type="checkbox" name="remember_me" value="1"> <b>Remember Me</b><br><br>
                        <input type="submit" name="submit" value="Submit">
                        <a  href="registration.html">Register</a>
                    </fieldset>
                
                   
    
</body>
</html>